<!DOCTYPE html>
<html>
<head>
	
  <meta charset="UTF-8">
  <title>SCHEDULE</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
	
</head>
<body>
		
  <div class="nav_bar">
    <div class="list_it">АУДИТОРИЯ № <%= room_list[0].room %></div>
    <div class="list_it"><a href="../map">КАРТА ЭТАЖА</a></div>
  </div>


			
<div class="grid_container">
	
	<div class="item empty"></div>
		<div class="item itemWeek"><p>ПН</p></div>
		<div class="item itemWeek"><p>ВТ</p></div>
		<div class="item itemWeek"><p>СР</p></div>
		<div class="item itemWeek"><p>ЧТ</p></div>
		<div class="item itemWeek"><p>ПТ</p></div>
		<div class="item itemWeek"><p>СБ</p></div>
    <div class="item empty"></div>
		
	<% for (var room_item of room_list) { %>
		<div class="item sidebarSession"></div>
		<% if (room_item.week == "ПН") { %>
			<div class="item"><%= room_item.students %>, </br><%= room_item.teacher %>, </br><%= room_item.lesson %></div>
		<% } else { %>
			<div class="item"></div>
		<% } %>
		<% if (room_item.week == "ВТ") { %>
			<div class="item"><%= room_item.students %>, </br><%= room_item.teacher %>, </br><%= room_item.lesson %></div>
		<% } else { %>
			<div class="item"></div>
		<% } %>
		<% if (room_item.week == "СР") { %>
			<div class="item"><%= room_item.students %>, </br><%= room_item.teacher %>, </br><%= room_item.lesson %></div>
		<% } else { %>
			<div class="item"></div>
		<% } %>
		<% if (room_item.week == "ЧТ") { %>
			<div class="item"><%= room_item.students %>, </br><%= room_item.teacher %>, </br><%= room_item.lesson %></div>
		<% } else { %>
			<div class="item"></div>
		<% } %>
		<% if (room_item.week == "ПТ") { %>
			<div class="item"><%= room_item.students %>, </br><%= room_item.teacher %>, </br><%= room_item.lesson %></div>
		<% } else { %>
			<div class="item"></div>
		<% } %>
		<% if (room_item.week == "СБ") { %>
			<div class="item"><%= room_item.students %>, </br><%= room_item.teacher %>, </br><%= room_item.lesson %></div>
		<% } else { %>
			<div class="item"></div>
		<% } %>
		<div class="item sidebarTime"><p><%= room_item.time %></p></div>	
	<% } %>
						
</div>



</body>
</html>